@import url('https://fonts.googleapis.com/css?family=Anton|Inconsolata&display=swap');

*{
  background: #F8F5E1;
}


.bsos{
  background: #1569C7;
  color: white;
  
}
.App-Wrap{
  display: flex;
  flex-direction: column;
  min-width: 500px;
}
.Nav {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 2% 0;
  font-size: calc(5px + 2vmin);
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%; 
}

.logo img {
  width: 25%;
  margin-bottom: 2%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #F8F5E1;
}


.saltyPeopleSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  
  
}

.saltyPeopleBox {
background: #FFFFFF;
width: 95%;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 2%;
padding-bottom: 2%;


}

.saltyPeople{
margin: 1.5%;
text-align: center;
background: #F1EBEB;

color: white;
padding: 2%;
width: 30%;
box-sizing: border-box;
/* font-size: calc(50px + 2vmin); */
font-size: .8rem;
font-family: 'lucida console';
}

.title{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: calc(60px + 2vmin);
  font-family: 'Anton';
  
}

.textBox{
  
  margin: 5% 0  15% 0;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font: 'lucida console';
}

.aboutTitle{
  margin-top: 5% ;
}

.aboutTitle1{
  margin-right: 30%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.aboutTitle2{
  display:flex;
  align-items: center;
  justify-content: center;
}

.aboutTitle3{
  margin-left: 30%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.saltShaker{
  width: 25%;
  margin-top: -20%;
  margin-left: 15%;
  background: none;
}

.saltText{
  background: #FFFFFF;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50%;
  padding-bottom: 10%;

  
  }

  .aboutText{
    background: white;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saltPileContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }

  .saltPile{
    margin-top: -40%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


  .saltyPeopleContainer{
    display: flex;
    background: #1569C7;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .hacker-card{
    border: 1px solid black;
    width: 50%;
    display: flex;
    margin: 20px 0px;
  }

  .hacker-card p{
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
 
  }

  .hacker{
    display: flex;
    flex-direction: column;
    
    
  }

  .profile{
   
    width: 60%;
    margin: auto;
  }

  .buttons{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    
  }

  @media only screen and (min-width: 600px){
    *{
      background: white;
    }
  }